
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-50 text-stone-900;
  }
  h1, h2, h3 {
    @apply font-serif;
  }
}

html {
  scroll-behavior: smooth;
}
